.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.box_4 {
}
.image {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.image1 {
  color:#000000;
}
.icon {
}
.weui_btn_primary {
  font-size:18px;
  color:#FFFFFF;
}
.weui_btn_primary_disable {
  font-size:18px;
  color:#E0E0E0;
}
.weui_btn_primary_mousedown {
  font-size:18px;
  color:#7A807E;
}
.weui_btn_warn {
  font-size:18px;
  color:#FFFFFF;
}
.weui_btn_warn_disable {
  font-size:18px;
  color:#E1E1E1;
}
.weui_btn_warn_mousedown {
  font-size:18px;
  color:#808080;
}
.weui_btn_default {
  font-size:18px;
  color:#454545;
}
.weui_btn_default_disable {
  font-size:18px;
  color:#4B4B4B;
}
.weui_btn_default_mousedown {
  font-size:18px;
  color:#222222;
}
.weui_dialog_primary {
  font-size:16px;
  color:#5AC321;
}
.weui_dialog_primary_mousedown {
  font-size:16px;
  color:#5AC321;
}
.weui_dialog_default {
  font-size:16px;
  color:#333333;
}
.weui_dialog_default_mousedown {
  font-size:16px;
  color:#333333;
}
.paragraph1 {
  text-align:left;
}
.shape {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
textarea, select, input, button { outline: none; }
